<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/partials.css" />
  <title>Document</title>
</head>
<body>
  <nav>
    <%if (user) {%>
    <div class="navbar">
      <h1 id="nav-header"> Treasured </h1>
      <div class="nav-links">
        <a href="/users/profile">Profile</a>
          <a href="/posts">View all posts</a>
          <a href="/auth/sign-out">Sign Out</a>
      </div>
    </div>

    <%} else {%>
      <div class="navbar">
        <h1 id="nav-header"> Treasured </h1>
        <div class="nav-links">
          <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
        </div>
      </div>
    <% } %>
  </nav>
</body>
</html>

