body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background-color: #FAF6F0;
    color: #576EA3;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.main-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #576EA3;
}

.welcome-box{
    background: #F3E9DD;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.welcome-text {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    transition: 0.3s ease;
}

.primary-btn {
    background-color: #4CB4BE;
    color: white;
}

.primary-btn:hover {
    background-color: #84cccc;
}

.secondary-btn {
    background-color: #9AC7DC;
    color: white;
}

.secondary-btn:hover {
    background-color: #4CB4BE; 
}

.or {
    margin: 0 10px;
    color: #576EA3;
}
