<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/home.css" />
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="form-card">
    <h1>Create New Post</h1>

    <form action="/posts" method="POST" enctype="multipart/form-data">

      <label for="title">Title</label>
      <input type="text" name="title" id="title" required>

      <label for="category">Category</label>
      <select name="category" id="category" required>
        <option value="">Select category</option>
        <option value="songs">Song</option>
        <option value="pets">Pet</option>
        <option value="moment">Moment</option>
        <option value="food">Food</option>
        <option value="quote">Quote</option>
        <option value="movies">Movie</option>
        <option value="shows">Show</option>
        <option value="spot">Spot</option>
      </select>

      <label for="image">Upload Image <span class="optional">(optional)</span></label>
      <input type="file" name="image" id="image" accept="image/*">

      <label for="description">Description</label>
      <textarea name="description" id="description" rows="3"></textarea>

      <label for="url">Url <span class="optional">(optional)</span></label>
      <input type="url" name="url" id="url">

      <div class="form-btn-wrapper">
        <button type="submit">Create Post</button>
      </div>
    </form>
  </div>
</body>

</html>
